.container {
    justify-content: center;
    margin-top: 160px;
    margin-left: 64px;
    margin-right: 64px;
    background-color: #F17127;
    border-radius: 20px;
    padding: 64px;
}

.headerText {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.descriptionText {
    font-size: 18px;
    margin-top: 32px;
    text-align: center;
    color: white;
}

@media (max-width: 768px) { 
    .container {
        margin-right: 32px;
        margin-left: 32px;
        padding: 16px;
    }

    .headerText {
        font-size: 24px;
    }
    
    .descriptionText {
        font-size: 16px;
    }
}